body {
	padding: 0;
	margin: 0;
}

.main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.BG {
	display: block;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.BG img {
	width: 10.8rem;
}

.themes {
	width: 10.8rem;
	height: 31.8rem;
	position: absolute;
	top: 7.5rem;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.themes .block {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 5rem;
	height: 10.3rem;
	margin-left: .16rem;

}

.shopMap {
	width: 5rem;
	height: 8.7rem;
	display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.block:nth-child(1) .shopMap{
	background-image: url(../img/1.png);
}

.block:nth-child(2) .shopMap {
	background-image: url(../img/2.png);
}

.block:nth-child(3) .shopMap {
	background-image: url(../img/3.png);
}

.block:nth-child(4) .shopMap {
	background-image: url(../img/4.png);
}

.block:nth-child(5) .shopMap {
	background-image: url(../img/5.png);
}

.block:nth-child(6) .shopMap {
	background-image: url(../img/6.png);
}

.downloadBtn {
	width: 2.7rem;
	height: .8rem;
	background: url(../img/downloadBtn.png)no-repeat;
	background-size: 100% 100%;
	display: block;
	position: relative;
	left: calc(50% - 1.35rem);
	margin-top: .22rem;
}
